body{
  width: 100%;
  margin: auto;

}
.headerBackground{
    background-image: url("images/headerBackground.jpg");
    height: 600px;
}
div .topnav {
text-align: center;
overflow: hidden;

}
.topnav a {
    float: right;
    color:#444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
p.findHoliday{
    border: 2px solid red;
    background-color:#FF4E50;
    border-radius: 10px 10px;
    margin: auto;

    width: 20%;
    height: 1.7em;
    font-weight: bold;
    text-align: center;
    color:#444444;
}
.button {
  border: 2px solid #ffffff;
  border-radius: 25px;
  height: 5%;
  width: 10%;
  color:#444444;
  padding: .1em;
  text-decoration: none;
  font-weight: bold;
}
.topnav{
  margin-right:20%;
  color:#444444;
}
h3{
  color:#444444;
  position:absolute;
    top:0;
    left:0;
    margin-left: 20%;
}
div.column {
  float: left;
  width: 200px;
  height: 100px;
  margin: 2em;
  align-items: center;
  margin-left:5em;
  margin-right: 2em;
  position:relative;

}
a.topnav{
  color:#444444;
}
h1.share{
  font-weight: bold;
  font-size: 36px;
  color:#444444;
  text-align: center;
  margin-top:5em;
}
p.Find{
  color:#444444;
  text-align: center;
  /* margin-bottom:8em; */
  /* margin-top:2em; */

 margin-bottom:10%;
}
h2{
  text-align: center;
  margin-top: 3%;
  color:#444444;
}


/* .column {
    float: left;
    padding: 5px;
} */
img.meetPartner{
  border-radius: 50%;
  color:#444444;
  text-align: center;
  margin-top: 20%;

}

/* Clearfix (clear floats) */

img#music{
  background-color: #FF4E50;
  width: 3em;
  height: 3em;
  margin-left: -3.5em;
  border: 3px solid #ffffff;
  margin-bottom: -9em;

}

img#brush{
  background-color: #18D4CA;
  width: 3em;
  height: 3em;
  border: 0;
  margin-left: -3.5em;
  border: 3px solid #ffffff;
  margin-bottom: -9em;


}
img#camera{
  background-color:  #FFA710;
  width: 3em;
  height: 3em;
  border: 0;
  margin-left: -3.5em;
  border: 3px solid #ffffff;
  margin-bottom: -9em;

}
img#airplane{
  background-color: #667DF3;
  width: 3em;
  height: 3em;
  border: 0;
  margin-left: -3.5em;
  border: 3px solid #ffffff;
  margin-bottom: -9em;

}
img.icon{
  border-radius: 50%;
}

div.seeOtherPart{
  border: 2px solid #FF4E50;
  border-radius: 25px;
  height: 2em;
  width: 15%;
  padding: .1em;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15%;
  margin-left: 40%;
  text-align: center;
 color:#FF4E50;
}
p.seeOtherPart{
  text-align: center;

}
div.discover{
  margin-top:2em;
  margin-left:40%;
  color:#444444;
  font-weight: bold;
  font-size: 24px;

}
div.column1 {
  float: left;
  /* margin-top: 20%; */
  width: 200px;
  height: 100px;
  margin: 2em;
  margin-left:4em;
  margin-right:4em;
margin-bottom:15%;
text-align: center;

}
div.center{
   position: absolute;
    text-align: center;
 }
 #image-wrapper{
   position: relative;
 }
  div#image-wrapper{
 text-align: center;
 z-index:-1;
  }

div.column2 {
  float: left;
  /* margin-top:30%; */
  width: 200px;
  height: 100px;
  margin: 2em;
  margin-left:4em;
  margin-right: 4em;
  padding-top:1em;

margin-bottom:15%;
}
div.column3 {
  float: left;
  /* margin-top:4em; */
  margin: 2em;
  margin-left:4em;
  margin-right: -2em;
  margin-bottom:10%;
  padding-top:1em;
  /* font-size: 12px; */
}

.row::after {
    content: "";
    clear: both;

}
.column1 img{
    display:block;
}
.row::after {
    content: "";
    clear: both;
}
hr {
  border-top: 1px solid #FF4E50;

  width: 100%;

}
.row{

  bottom: 0%;
}
#image-wrapper{
  text-align: center;
   bottom: 0%;
}
div.column4 {
  float: left;
  margin: 2em;
  margin-left:4em;
  margin-right: 4em;
}
ul {
  list-style: none;
  padding-left: 0;
  color:#666666;
}
div.container {
    position: relative;
    padding-left:3em;
    padding-top: 2em;

}
h4{
color:#444444;
}

p.dreamBottom{
  color:#FF4E50;
}
li.View{
  color:#FF4E50;

}
div.column{
  color:#666666;
}
h6{
  color:#444444;
}

.container {
position: relative;
color:white;
}

.centered {
  font-weight: bold;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 24px;
  display: inline;

}

#sport{
  color:#444444;
  font-weight: bold;
  top:7em;

}
#WellnessAndExped{
  color:white;
  font-weight: bold;
  top:7em;
}

#gamesAndCulture{
  color:white;
  font-weight: bold;
  top:7em;
  width: 60%;
}
#beautyAndTravelling{
  color:white;
  font-weight: bold;
  top:7em;

}
